<%- include('../partials/header'); -%>
    <body>
       <!-- 
        <%- include('../partials/preloader'); -%>
        <section id="menu2-j"></section>
      -->
            <%- include('../partials/nav'); -%>

<section class="cid-qMqMngmDZz mbr-parallax-background" id="info3-1o" style="min-height:525px; background-image: url('assets/images/Asilinks_644343118.jpg');background-size:cover;background-repeat:no-repeat;background-position:center bottom ;">
    <div class="mbr-overlay-blue"> </div>
    <div class="container px-2 px-xs-2 px-sm-0 px-md-3 px-lg-1 ">
      <div class="mbr-white col-lg-8 col-md-8">
        <h1 class="mbl-section-title text-left text-md-left text-sm-left text-md-left mbl-bold pb-3 mbr-fonts-style display-1 pt-5" style="font-weight: normal;">Somos una comunidad<br>basada en la economía<br>colaborativa
          <span  style="font-weight: bolder;"><br><br>¡Compartiendo ganamos!</span></h1>
      </div>
    </div>
  </section>  
  
  <!-- PRIMER BLOQUE INFO -->
  <section class="cid-a">
    <div class="py-5 px-3">
      <div class="container">
        <div class="row ">
          <div class="col-md-6 col-lg-6 align-self-center">
            <h2 class="pt-2 mbr-fonts-style display-2 text-left text-sm-left text-primary">Cambiamos la manera de prestar servicios profesionales</h2>
            <p class="my-3 display-7 text-left">A través de una red organizada, innovadora y confiable que busca el crecimiento de todos sus miembros</p>
          </div>
          <div class="col-md-6 col-lg-6">
           <div class="square-img" style="background-image: url('assets/images/Asilinks_478732987.jpg'); background-position: center center;background-size:cover;"> </div></div>
        </div>
      </div>
    </div>
  </section>
  <!-- SEGUNDO BLOQUE IMAGE BG -->
  <section class="mbr-section info3 cid-qMqNiVwkMQ mbr-parallax-background" id="info3-1t" style="height:380px; background-image: url('assets/images/Asilinks_516771484.jpg');background-size:cover;background-repeat:no-repeat;background-position:center bottom ;">
   <div class="mbr-overlay-blue"></div>
    <div class="container px-3">
      <div class="row justify-content-center">
        <div class="title col-xs-11 col-md-6 col-lg-6 pl-5">
          <h2 class="align-left mbr-bold mbr-white display-2">Nuestro compromiso</h2>
          <p class="mbr-text align-left text-left mbr-white mbr-fonts-style text-white display-7">Ser una comunidad de apoyo mediante una red tecnológica, innovadora y amigable que facilite la colaboración, conexión y el crecimiento mutuo
          </p>
        </div>
        <div class="col-xs-11 col-md-5 col-lg-5"></div>
      </div>
    </div>
  </section>
  <!-- Tercer BLOQUE -->
  <section class="cid-qMqMnh8CcE">
    <div class="px-3">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 pb-3">
            <h1 class="display-2 text-primary aling-center text-center pb-5">
              Nuestros valores
            </h1>
              </div>
          <div class="col-md-6 col-lg-5">
            <div class="square-img" style="background-image: url('assets/images/Asilinks_327588641.jpg'); background-position: center center;background-size:200%;"> </div>
          </div>
          <div class="col-md-6 col-lg-6 offset-lg-1 align-self-center justify-content-between">
            <h2 class="mbr-title pt-2 mbr-fonts-style display-2 text-primary">
              Colaboración
            </h2>
            <p class="my-3 block-text mbr-fonts-style display-7">Creemos en una comunidad integrada, en la cual la actividad de uno, colabora en el desarrollo del otro</p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 px-3">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 col-lg-5">
            <div class="square-img" style="background-image: url('assets/images/Asilinks_524062759.jpg'); background-position: center center;background-size:200%;"> </div></div>
            <div class="col-md-6 col-lg-6 offset-lg-1 align-self-center">
            <h2 class="mbr-title pt-2 mbr-fonts-style display-2 text-primary">
              Crecimiento
            </h2>
            <p class="my-3 block-text mbr-fonts-style display-7">Impulsamos el crecimiento de todos los miembros de nuestra comunidad profesional y de sus clientes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5 px-3">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 col-lg-5">
            <div class="square-img" style="background-image: url('assets/images/Asilinks_524595073.jpg'); background-position: center center;background-size:200%;"> </div></div>
              <div class="col-md-6 col-lg-6 offset-lg-1 align-self-center">
              <h2 class="mbr-title pt-2 mbr-fonts-style display-2 text-primary">
                Innovación
              </h2>
              <p class="my-3 block-text mbr-fonts-style display-7">Nos basamos en la innovación tecnológica, revolucionamos la manera de hacer Networking y prestar servicios multiplicando los beneficios a nuestra comunidad </p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CALL TO ACTiON REGISTRO -->
  <section class="mbr-section info1 cid-qMqKD5fGmv bg-asilinks" id="info1-1m">
    <div class="container">
      <div class="row justify-content-center content-row" >
        <div class="media-container-column title col-12 col-lg-7 col-md-6 align-self-center">
          <h3 class="mbr-section-subtitle align-left mbr-light mbr-fonts-style display-5">
              ¿Qué estás esperando?<br>Únete y forma parte de nuestra comunidad
          </h3>
        </div>
        <div class="media-container-column col-12 col-lg-3 col-md-4">
          <div class="mbr-section-btn align-center pt-3"><a class="btn-mv2 btn-white display-4" style="font-weight: bolder;" href="login/register">Regístrate</a></div>
        </div>
      </div>
    </div>
  </section>
  <input name="animation" type="hidden">

  <%- include('../partials/footer'); -%>
</section>
</body>

<%- include('../partials/sub-footer'); -%>