<%- include('partials/header'); -%>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <%- include('./partials/nav'); -%>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
            style="margin: 50px 0 0px 0;"
          >
            <a
              class="fas fa-arrow-left"
              style="width: auto !important;"
              href="/client"
              ><p style="font-family: Quicksand; display: inline-block;">
                &nbsp&nbsp Volver a inicio
              </p></a
            >
          </div>
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
            style="margin: 0px 0 50px 0;"
          >
            <h1 class="mb-0 text-center" id="Welcome-requeriments-refers">
              Nuevo Proyecto
            </h1>
          </div>

          <!-- Content Row -->

          <div class="row">
            <!-- Requeriment steps -->
            <div class="col-xl-3 col-lg-7">
              <div class="card mb-4" style="box-shadow: none; padding: 0;">
                <!-- Card Body -->
                <div class="card-body">
                  <ul
                    id="progressbar"
                    style="margin: 0; padding: 0; list-style: none;"
                  >
                    <li>
                      <a
                        class="fas fa-user user_style"
                        style="width: auto !important; margin: 20px 0;"
                        ><p
                          style="
                            font-family: Quicksand;
                            display: inline-block;
                            color: #4444ff;
                          "
                        >
                          &nbsp&nbsp Proyect
                        </p></a
                      >
                    </li>
                   
                  </ul>
                </div>
                
              </div>
            </div>

            <!-- Form -->
            <div class="col-xl-8 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                  <form
         
                    method="post"
                  >
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label
                            for="title"
                            style="
                              font-family: Quicksand;
                              font-weight: bold;
                              color: #bcbcca;
                            "
                            >NOMBRE O TÍTULO</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            placeholder=""
                            style="color: #2a2a35;"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label
                            for="wallet"
                            style="
                              font-family: Quicksand;
                              font-weight: bold;
                              color: #bcbcca;
                            "
                            >Wallet</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="wallet"
                            name="wallet"
                            placeholder=""
                            style="color: #2a2a35;"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label
                            for="description"
                            style="
                              font-family: Quicksand;
                              font-weight: bold;
                              color: #bcbcca;
                            "
                            >DESCRIPCIÓN</label
                          >
                          <textarea
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder=""
                            style="color: #2a2a35; height: 180px;"
                            required
                          ></textarea>
                        </div>
                      </div>
                
                     
                      <button
                        type="button"
                        id="save"
                        class="btn btn-primary px-4 float-right label_style"
                        style="font-weight: bold;"
                      >
                        Create
                      </button>
                  
                   
                   
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('./partials/footer'); -%>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

<%- include('./partials/sidebar'); -%>
  </div>




  <%- include('./partials/requirement/sub-footer'); -%>


        <script type="text/javascript">
          $(document).ready(function () {
           
          });

          $("#workerBtn2").click(function() {

              // EL POST ESTA EN WALLET ROUTES PORQUE NO SE DONDE PONERLO. OBVIO NO VA AHI
              $.post("/api/users/changeWork")
              .done( function(data){

                  location.reload();

              })
              .fail( function(xhr, textStatus, errorThrown){

                  console.log(xhr.responseText)
                  alert("Error guardando al usuario! " + xhr.responseText)

              });


          });

          function loadCategories() {
            var category = $("#category").val();

            $.get("/client/getSubcategories/" + category)
              .done(function (data) {
                console.log("subcategorias cargadas con exito!");
                $("#subcategory").empty();

                if (Array.isArray(data) && data.length) {
                  data.forEach((sub) => {
                    $("#subcategory").append(
                      $("<option>", {
                        value: sub.sub_category,
                        text: sub.sub_category,
                      })
                    );
                  });
                }
              })
              .fail(function (xhr, textStatus, errorThrown) {
                console.log(errorThrown);
                alert("Error en la carga de Universidades");
              });
          }

          function getAllInfo() {
            var test = new FormData();

            $.each($("#file")[0].files, function (i, file) {
              test.append("file-" + i, file);
            });

            var reqInfo = {
              name: $("#name").val(),
              category: $("#category").val(),
              subcategory: $("#subcategory").val(),
              description: $("#description").val(),
              file: $("#file").val(),
              partner_title: $("#partner_title").val(),
              english_level: $("#english_level").val(),
              partner_country: $("#partner_country").val(),
              knowledge: $("input[name=radio2]:checked").val(),
              development_time: $("input[name=radio22]:checked").val(),
            };

            return reqInfo;
          }

          $(".btn_nav3").on("click", function () {
            $(".publishBtn").removeClass("public").addClass("save_eraser");
          });
        </script>
</body>

<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/3.0.0-rc.0/web3.min.js"></script>
<script language="javascript" type="text/javascript" src="assets/scripts/Proyect.js"></script>


<script >
    let contract 
    let account 
  window.addEventListener('load',async   function() {
// Aquí se comprueba si Web3 ha sido inyectado por el navegador (Mist/Metamask)
if (window.ethereum) {
  // Usar el proveedor Mist/MetaMask
  
  const accounts=await window.ethereum.send('eth_requestAccounts');
  window.web3 = new Web3(window.ethereum);
  console.log(accounts);
 account=accounts.result[0];
    console.log(account,$('#exampleInputEmail1').val());
    contract = new window.web3.eth.Contract(Proyect.abi, "0xa1dDfdF6cc051DAE3aFBF6c1498868F505d3a0CB");
} else {
  // Esto se activará si el usuario no tiene instalado Mist/Metamask. Sería 
  // recomendable avisar al usuario de que debe instalarse Misk/Metamask
  // para poder usar nuestra DApp.
}
// Ahora ya puedes iniciar tu DApp y acceder a Web3.js libremente:
})
  $('#my-form').on('click', async function (event) {
    event.preventDefault();
  
    contract.events.ProyectAdded().on("data",(err, result) => {
      console.log(result);
    });
    console.log(await contract.methods.NewProject($('#exampleInputEmail1').val(),5).send({from:account }));
    
  return false;
});
$('#my-form2').on('click', async function (event) {
  
    event.preventDefault();
  console.log(await contract.methods.depositToProject($('#proyect').val(),$('#amount').val()).send({from:account,value:web3.utils.toWei($('#amount').val(),'ether') }));
  
return false;
});
$('#my-form3').on('click', async function (event) {
  
  event.preventDefault();
console.log(web3.utils.fromWei(await contract.methods.getBalanceContract().call( ),'ether'));

return false;
});
  </script>